body{
  background-image: url(pio2.jpg);

}
h1{
  font-weight: 25%;
}
.center{
  width: 450px;
  padding: 20px;
  text-align: center;
  margin:auto;
  margin-top: 15%;
  color:green;
  font-family: cursive;
}
